<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h2>Bienvenido a Maze bank</h2>
    <p>Hola {{user.username}}</p>
    <p><a href="{% url 'logout' %}">Cerrar Sesión</a></p>
    {% else %}
    <p><a href="{% url 'login' %}">Iniciar Sesión</a></p>
    <p><a href="{% url 'register'%}">Registrar</a></p>
    {% endif %}
</body>

</html>