{% extends 'home.html'%}
{% block title%}Cliente{% endblock %}
{% block h1%}Cliente{% endblock %}
{% block content%}
    <nav>
        <ul>
            <li><a href="/cliente/1">Informacion del cliente</a></li>
            <li><a href="/movimientos">Movimientos</a></li>
            <li><a href="/prestamos">Prestamos</a></li>
            <li><a href="/tarjetas/1">Tarjetas</a></li>
            <li><a href="/cuentas">Cuentas</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
    </nav>
    <ul>
        <li>Nombre: {{cliente.customer_name}}</li>
        <li>Apellido: {{cliente.customer_surname}}</li>
        <li>DNI: {{cliente.customer_dni}}</li>
        <li>Fecha de nacimineto: {{cliente.dob}}</li>
    </ul>
    {%endblock%}